*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(to bottom,#fff5f8,#ffe6f2);
    opacity:0;
    animation:fadeIn 1.5s ease forwards;
}

@keyframes fadeIn{
    to{opacity:1;}
}

header{
    backdrop-filter:blur(10px);
    background:rgba(255,77,166,0.85);
    color:white;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition:0.3s;
}

nav a:hover{
    color:#000;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:url('re.jpg') center/cover no-repeat;
    color:white;
}

.hero h2{
    background:rgba(0,0,0,0.4);
    padding:15px 25px;
    border-radius:10px;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#ff4da6;
    color:white;
    border-radius:30px;
    text-decoration:none;
    transition:0.4s;
}

.btn:hover{
    background:#e60073;
    box-shadow:0 0 20px #ff4da6;
}

section{
    padding:70px 8%;
}

.section-title{
    text-align:center;
    color:#ff4da6;
    margin-bottom:40px;
    font-size:28px;
}

.services, .gallery, .videos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.service-box{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    transition:0.4s;
}

.service-box:hover{
    transform:translateY(-10px);
}

.gallery img{
    width:100%;
    border-radius:15px;
    transition:0.4s;
}

.gallery img:hover{
    transform:scale(1.07);
}

.img-text, .video-text{
    text-align:center;
    margin-top:8px;
    font-size:14px;
}

.video-box video{
    width:100%;
    border-radius:15px;
    cursor:pointer;
}

.contact-box{
    text-align:center;
    background:white;
    padding:30px;
    border-radius:15px;
}

.about-text{
    text-align:center;
    max-width:800px;
    margin:auto;
}

footer{
    background:#ba0675;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}

/* WhatsApp Button */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    font-size:24px;
    padding:15px;
    border-radius:50%;
    text-decoration:none;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

/* Scroll Animation */
.hidden{
    opacity:0;
    transform:translateY(40px);
    transition:all 1s ease;
}
.show{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:768px){
    header{
        flex-direction:column;
    }
}